include README.md
include LICENSE
include requirements.txt
include pytracker/config/*.json
include pytracker/examples/*.py
recursive-include pytracker *.py
global-exclude __pycache__
global-exclude *.py[co]
